* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.row {
    margin: 0;
    padding: 0;
}

#gameboard {
    height: 100%;
    display: grid;
    grid-template-rows: 12fr 2fr;
}

#top {
    /* background-color: blue; */
    display: grid;
    /* place-items: center; */
    grid-template-columns: 1fr 1fr;
}

#left {
    background-color: aqua;
    display: grid;
    place-items: center; 
    margin: 0;
    padding: 0;
}

#left-board {
    display: grid;
    place-items: center; 
}



#right {
    background-color: blueviolet;
    /* display: grid; */
    /* place-items: center; */
}

#bottom {
    background-color: red;
}